body {
  font-family: monospace; /* Assuming typewriter-like font for spacing */
  font-size: 16px;
  line-height: 1.5;
}
.title {
  font-weight: bold;
  text-decoration: underline; /* Simulate underline */
}
.signature{
font-weight: bold;
}
.container{
margin: 30px;
}
.right-align {
  text-align: right;
}
.labelText{
color: blue;
}