<app-spinner *ngIf="loadingPage"></app-spinner>
<ng-container *ngIf="!loadingPage">
  <div class="page-header">
    <h3 class="page-title">Create Complaint</h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:;" (click)="navigate()">View Complaints</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Create Complaint
        </li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <form class="forms-sample" [formGroup]="invoiceForm">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label><strong>Hospital:</strong> </label>
                  <!-- <p>{{ userInfo.vendor.title }}</p> -->
                  <p>{{ userInfo?.hospital?.title }}</p>
                </div>
              </div>
              <!-- <div class="col-lg-4">
                <div class="form-group">
                  <label><strong>S Tax No:</strong> </label>
                  <p>{{ userInfo.vendor.sTaxNo }}</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label><strong>Ntn:</strong></label>
                  <p>{{ userInfo.vendor.ntn }}</p>
                </div>
              </div> -->
              <div class="col-lg-4">
                <div class="form-group">
                  <label>Complaint No</label>
                  <span class="text-danger">*</span>
                  <input class="form-control" formControlName="complaintNo" />
                </div>
              </div>

              <div class="col-lg-4">
                <div class="form-group">
                  <label>Complaint Date</label>
                  <span class="text-danger">*</span>
                  <input
                    type="date"
                    class="form-control"
                    formControlName="complaintDate"
                    readonly
                  />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label>Complaint Month</label>
                  <span class="text-danger">*</span>
                  <input
                    type="month"
                    class="form-control"
                    formControlName="complaintMonth"
                    (change)="getComplaintNumber()"
                  />
                </div>
              </div>

              <div class="col-lg-4">
                <div class="form-group">
                  <label>Vendor</label>
                  <span class="text-danger">*</span>
                  <!-- <select
                    class="form-control"
                    (change)="addAutoService()"
                    formControlName="hospitalId"
                  >
                    <option value="-1"></option>
                    <ng-container *ngFor="let hospital of hospitalList">
                      <option [value]="hospital.id">
                        {{ hospital.title }}
                      </option>
                    </ng-container>
                  </select> -->

                  <p-dropdown
                    placeholder="Select a Vendor"
                    appendTo="body"
                    [options]="vendorList"
                    optionLabel="title"
                    optionValue="id"
                    formControlName="vendorId"
                    [filter]="true"
                    filterBy="value.title"
                    dataKey="value"
                    (onChange)="addAutoService()"
                  >
                  </p-dropdown>
                </div>
              </div>

              <div class="col-lg-4" *ngIf="hospitalId > 0">
                <div class="form-group">
                  <label>Package Information</label>
                  <input
                    class="form-control"
                    formControlName="packageInfo"
                    readonly
                  />
                </div>
              </div>

              <!-- <div class="col-lg-4">
                <div class="form-group">
                  <label>Remarks</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="remarks"
                  />
                </div>
              </div> -->
              <ng-container
                *ngIf="invoiceForm.controls.hospitalId.value.id > 0"
              >
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Complaint Amount</label>
                    <input
                      appFormatNumberNew
                      class="form-control rightAlign"
                      formControlName="invoiceAmountWithoutTax"
                      readonly
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Tax Amount</label>
                    <input
                      appFormatNumberNew
                      class="form-control rightAlign"
                      formControlName="invoiceTaxAmount"
                      readonly
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Net Amount</label>
                    <input
                      appFormatNumberNew
                      class="form-control rightAlign"
                      formControlName="invoiceAmount"
                      readonly
                    />
                  </div>
                </div>
              </ng-container>
            </div>
            <br />

            <ngb-tabset
              type="pills"
              class="pills-success"
              *ngIf="invoiceForm.controls.vendorId?.value?.id > 0"
            >
              <!-- <ngb-tab *ngIf="loadingAssets">
              <app-spinner *ngIf="loadingAssets"></app-spinner>
            </ngb-tab> -->

              <ngb-tab title="Complaint Detail">
                <ng-template ngbTabContent>
                  <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                      <button
                        type="button"
                        class="btn btn-gradient-info btn-rounded btn-icon float"
                        (click)="addNewService()"
                      >
                        <i class="mdi mdi-plus my-float"></i>
                      </button>
                      <div class="table-responsive tableFixHead">
                        <table
                          class="table table-bordered"
                          formArrayName="details"
                        >
                          <thead>
                            <tr class="table-success">
                              <td style="width: 50px !important">Sr</td>
                              <td style="width: 200px !important">Asset</td>
                              <td style="width: 300px !important">Location</td>
                              <!-- <td style="width: 180px !important">Asset</td> -->
                              <td style="width: 80px !important">Total</td>
                              <td style="width: 100px !important">
                                Non Funcational
                              </td>
                              <td style="width: 130px !important">Qty</td>
                              <td style="width: 150px !important">
                                Serial No.
                              </td>
                              <td style="width: 300px !important">Remarks</td>
                              <!-- <td>Total Amount</td>
                              <td style="width: 100px !important">Tax %</td>
                              <td>Tax Amount</td>
                              <td>Net Amount</td> -->
                              <td>Action</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="
                                let item of invServices.controls;
                                let i = index
                              "
                              [formGroupName]="i"
                            >
                              <td style="width: 50px !important">
                                {{ i + 1 }}
                              </td>

                              <td style="width: 200px !important">
                                <ng-container
                                  *ngIf="item.get('auto').value == 'Y'"
                                >
                                  <input
                                    type="text"
                                    class="form-control"
                                    formControlName="category"
                                    style="white-space: normal"
                                    readonly
                                  />
                                </ng-container>
                                <ng-container
                                  *ngIf="item.get('auto').value == 'N'"
                                >
                                  <p-dropdown
                                    placeholder="Select Asset"
                                    appendTo="body"
                                    [options]="distinctCategories"
                                    optionLabel="name"
                                    optionValue="name"
                                    [filter]="true"
                                    filterBy="value.name"
                                    (onChange)="getCategoryServices($event, i)"
                                  >
                                  </p-dropdown>
                                </ng-container>
                              </td>

                              <td style="width: 300px !important">
                                <ng-container
                                  *ngIf="item.get('auto').value == 'Y'"
                                >
                                  <input
                                    type="text"
                                    class="form-control"
                                    formControlName="serviceDetailTitle"
                                    style="white-space: normal"
                                    readonly
                                  />
                                </ng-container>
                                <ng-container
                                  *ngIf="item.get('auto').value == 'N'"
                                >
                                  <p-dropdown
                                    placeholder="Select Location"
                                    appendTo="body"
                                    [options]="rowCategoryServices[i]"
                                    optionLabel="title"
                                    optionValue="id"
                                    formControlName="hospitalAssetId"
                                    [filter]="true"
                                    filterBy="value.title,value.amount"
                                    (onChange)="handleDropdownChange(i, $event)"
                                  >
                                  </p-dropdown>
                                </ng-container>
                              </td>
                              <!-- <td style="width: 100px !important">
                                <input
                                  class="form-control rightAlign"
                                  type="number"
                                  formControlName="qty"
                                 
                                  (input)="changeNetAmount(i)"
                                  readonly
                                />
                              </td>
                              <td style="width: 100px !important">
                                <input
                                  class="form-control rightAlign"
                                  type="number"
                                  formControlName="nonFunctional"
                                  (input)="changeNetAmount(i)"
                                  readonly
                                />
                              </td> -->
                              <td
                                style="width: 80px !important"
                                class="rightAlign"
                              >
                                <span>{{ item.get("qty").value }}</span>
                              </td>
                              <td
                                style="width: 100px !important"
                                class="rightAlign"
                              >
                                <span>{{
                                  item.get("nonFunctional").value
                                }}</span>
                              </td>

                              <td style="width: 130px !important">
                                <input
                                  class="form-control rightAlign"
                                  type="number"
                                  formControlName="nonFunctionalQty"
                                />
                                <!-- Display validation error -->
                                <!-- <div *ngIf="invoiceForm.get('nonFunctionalQty')?.hasError('greaterThanQty') && invoiceForm.get('nonFunctionalQty')?.touched">
    <small class="text-danger">Non-Functional Quantity cannot exceed Total Quantity</small>
  </div> -->
                                <div
                                  *ngIf="
                                    item
                                      .get('nonFunctionalQty')
                                      .hasError('greaterThanQty') &&
                                    item.get('nonFunctionalQty').touched
                                  "
                                >
                                  <small class="text-danger"
                                    >Non-Functional Quantity cannot exceed Total
                                    Quantity</small
                                  >
                                </div>
                              </td>

                              <td style="width: 150px !important">
                                <input
                                  class="form-control"
                                  type="text"
                                  formControlName="serialNo"
                                />
                              </td>

                              <td style="width: 300px !important">
                                <input
                                  class="form-control"
                                  type="text"
                                  formControlName="remarks"
                                />
                              </td>

                              <!-- <td style="width: 180px !important">
                                <ng-container
                                  *ngIf="item.get('auto').value == 'Y'"
                                >
                                  <input
                                    type="text"
                                    class="form-control"
                                    value="NA"
                                    style="white-space: normal"
                                    readonly
                                  />
                                </ng-container> -->
                              <!-- <ng-container
                                  *ngIf="item.get('auto').value == 'N'"
                                >
                               
                                  <p-dropdown
                                    [placeholder]="assetDropDownPlaceHolder"
                                    appendTo="body"
                                    [options]="filteredHospitalAssets"
                                    optionLabel="title"
                                    optionValue="hospitalAssetId"
                                    formControlName="hospitalAssetId"
                                    [filter]="true"
                                    filterBy="value.title"
                                  >
                                  </p-dropdown>
                                </ng-container> -->
                              <!-- </td> -->
                              <!-- <td style="width: 150px !important">
                                <input
                                  class="form-control rightAlign"
                                  type="number"
                                  formControlName="qty"
                                  [readonly]="item.get('auto').value == 'Y'"
                                  (input)="changeNetAmount(i)"
                                />
                              </td> -->
                              <!-- <td>
                                <input
                                  class="form-control rightAlign"
                                  formControlName="amount"
                                  readonly
                                />
                              </td>
                              <td style="width: 100px !important">
                                <input
                                  class="form-control rightAlign"
                                  formControlName="taxPercentage"
                                  readonly
                                />
                              </td>
                              <td>
                                <input
                                  class="form-control rightAlign"
                                  formControlName="taxAmount"
                                  readonly
                                />
                              </td>
                              <td style="text-align: right">
                                <input
                                  class="form-control rightAlign"
                                  formControlName="netAmount"
                                  readonly
                                />
                              </td> -->
                              <td>
                                <button
                                  type="button"
                                  class="btn btn-gradient-danger"
                                  (click)="deleteService(i)"
                                >
                                  <i class="mdi mdi-delete-forever"></i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12">
                        <br />
                        <button
                          [disabled]="loading || !invoiceForm.valid"
                          class="btn btn-success"
                          (click)="createInvoice(invoiceForm.value)"
                        >
                          <span *ngIf="!loading">Create Complaint</span>
                          <span *ngIf="loading">
                            <i class="fa fa-spinner fa-spin"></i>
                            Creating Complaint...
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>

              <ngb-tab title="Documents Attached" *ngIf="false">
                <ng-template ngbTabContent>
                  <div class="media">
                    <div class="media-body">
                      <div class="row" *ngIf="remarkTypes.length > 0">
                        <div class="col-md-12">
                          <div class="form-group" formArrayName="documents">
                            <div class="row">
                              <ng-container
                                *ngFor="
                                  let remark of remarkTypes;
                                  let i = index
                                "
                              >
                                <ng-container *ngIf="remark.id == 1">
                                  <ng-container
                                    *ngFor="let docRemarks of remark.remarks"
                                  >
                                    <div class="col-md-3">
                                      <div class="form-check">
                                        <label class="form-check-label">
                                          <input
                                            type="checkbox"
                                            class="form-check-input"
                                            [checked]="
                                              checkedStates[docRemarks.id]
                                            "
                                            (change)="
                                              onCheckboxChange(
                                                docRemarks.id,
                                                $event.target.checked
                                              )
                                            "
                                          />
                                          {{ docRemarks.description }}
                                          <i class="input-helper"></i>
                                        </label>
                                      </div>
                                    </div>
                                  </ng-container>
                                </ng-container>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>

              <!-- <ngb-tab title="Penalties">
                <ng-template ngbTabContent>
                  <div class="row" style="margin-bottom: 10px">
                    <div
                      class="col-lg-12"
                      style="
                        text-align: right;
                        justify-content: end;
                        align-items: end;
                      "
                    >
                      <button
                        type="button"
                        class="btn btn-gradient-info d btn-icon"
                        style="float: right"
                        (click)="addNewPanelty()"
                      >
                        <i class="mdi mdi-plus"></i>
                      </button>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                      <div class="table-responsive tableFixHead">
                        <table
                          class="table table-bordered"
                          formArrayName="panelties"
                        >
                          <thead>
                            <tr class="table-success">
                              <th>#</th>
                              <th>Penalty</th>
                              <th>Amount</th>
                              <th>Remark</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="
                                let item of paneltyServices.controls;
                                let i = index
                              "
                              [formGroupName]="i"
                            >
                              <td>{{ i + 1 }}</td>
                              <td>
                                <p-dropdown
                                  placeholder="Select a Panelty"
                                  appendTo="body"
                                  [options]="penaltyRemarks"
                                  optionLabel="description"
                                  optionValue="id"
                                  formControlName="remarkId"
                                  [filter]="true"
                                  filterBy="value.description"
                                >
                                </p-dropdown>
                              </td>
                              <td style="text-align: right">
                                <input
                                  type="number"
                                  class="form-control rightAlign"
                                  formControlName="amount"
                                  (input)="calculateTotalAmount()"
                                />
                              </td>
                              <td>
                                <input
                                  class="form-control"
                                  formControlName="remarks"
                                  type="text"
                                />
                              </td>
                              <td>
                                <button
                                  type="button"
                                  class="btn btn-gradient-danger"
                                  (click)="deletePanelty(i)"
                                >
                                  <i class="mdi mdi-delete-forever"></i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab> -->
            </ngb-tabset>

            <br />
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- <ng-select



   <ng-select 
    [items]="cities"
    bindLabel="name"
    bindValue="location"
    [searchFn]="customSearchFn"
    [(ngModel)]="selectedLocation"
  >
  </ng-select>

  <hr />



  <ng-select [items]="cities" bindLabel="name" [searchFn]="customSearchFn" style="background-color: red;">
    <ng-template>
      <small>NAME&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small>
      <small>LOCATION</small>
    </ng-template>
    <ng-template ng-option-tmp let-item="item">
      <small
        >{{ item.name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small
      >
      <small
        >{{
          item.isActive
        }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small
      >
      <small>{{ item.location }}</small>
    </ng-template>
  </ng-select> --></ng-container
>
