.page-header {
    position: relative;
  }
  
  .spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -10px; /* Adjust as needed */
    margin-left: 10px; /* Adjust as needed */
  }
  
  .file-type-select {
    display: inline-block;
    width: auto;
    min-width: 80px; /* Adjust as needed for a good fit */
    padding-right: 20px; /* Ensure proper padding for the dropdown arrow */
  }
  .d-flex {
    display: flex;
    align-items: center;
    gap: 1rem; /* Adjust the gap as necessary */
    flex-wrap: wrap; /* Allows items to wrap to the next line if necessary */
  }
  
  .form-group {
    flex: 0 1 12%; /* Base width of 12%, can shrink if necessary */
    min-width: 12%; /* Ensures a minimum width */
  }
  
  