// .cal-month-view .bg-grey {
//     background-color: darkseagreen !important;
//   }
//   .cal-month-view .bg-red {
//     background-color: indianred !important;
//   }
//   .cal-month-view {
//     cursor: pointer;
//   }
  
//   .cal-cell-row {
//     height: 100%;
//   }
//   .cal-month-view .cal-day-cell {
//     height: 72px;
//     min-height: 0px;
//   }

  .bg-green {
    background-color: #dff0d8 !important;
  }
  
  .bg-red {
    background-color: #f2dede !important;
  }
  
  .non-editable {
    pointer-events: none;
    cursor: not-allowed;
  }

//   // .badge {
//   //   background-color: #fff;
//   //   color: #000;
//   //   border-radius: 50%;
//   //   padding: 5px;
//   //   font-size: 12px;
//   // }
  